<?xml version="1.0" encoding="UTF-8"?>

<!-- config.xml reference: https://build.phonegap.com/docs/config-xml -->
<widget xmlns     = "http://www.w3.org/ns/widgets"
        xmlns:gap = "http://phonegap.com/ns/1.0"
        id        = "ru.maxxam.pp"
        version   = "0.0.1">
    <!-- минимальная версия андройда 4.4 - 19 -->
    <preference name="android-minSdkVersion" value="19" />
    <preference name="android-targetSdkVersion" value="21" />    

    <name>!ПП</name>

    <description>
        Павшинская пойма
    </description>

    <author href="http://www.maxxam.ru" email="karachev.m@gmail.com">
        MaxxaM
    </author>
    
    <icon src="img/icon/pp12_512.png" />
    
    <content src="index.html" />
    
    <!-- чтобы можно было номер набирать для звонка -->
    <!--<access origin="tel:*" launch-external="yes" />-->    
    <!-- чтобы можно было письмо отправить -->
    <!--<access origin="mailto:*" launch-external="yes" />-->
    
    
    <gap:plugin name="org.apache.cordova.inappbrowser" />
</widget>