<?xml version="1.0" encoding="UTF-8"?>

<!-- config.xml reference: https://build.phonegap.com/docs/config-xml -->
<widget xmlns     = "http://www.w3.org/ns/widgets"
        xmlns:gap = "http://phonegap.com/ns/1.0"
        id        = "ru.maxxam.pp"
        version   = "0.0.1">
    <preference name="android-minSdkVersion" value="14" />
    <preference name="android-targetSdkVersion" value="21" />    

    <name>!ПП</name>

    <description>
        Павшинская пойма
    </description>

    <author href="http://www.maxxam.ru" email="karachev.m@gmail.com">
        MaxxaM
    </author>

    <content src="index.html" />
    
    <gap:plugin name="org.apache.cordova.device" version="0.2.12" />
</widget>