<?xml version="1.0" encoding="UTF-8"?>

<!-- config.xml reference: https://build.phonegap.com/docs/config-xml -->
<widget xmlns     = "http://www.w3.org/ns/widgets"
        xmlns:gap = "http://phonegap.com/ns/1.0"
        id        = "ru.maxxam.pp"
        version   = "0.0.1">
    
    <!-- версияя для этого пакета 1 19 (версия андройд 19 (4.4 KitKat)) 00 (размер экрана) 100 (версия приложения 1.0.0)-->
    <preference name="android-versionCode" value="11900100" /> 
    <preference name="android-minSdkVersion" value="19" />
    <preference name="android-targetSdkVersion" value="21" /> 
    
    <!-- версия для старых платформ - версия андройд 10 (2.2 Froyo) --> 
    <!-- 
    <preference name="android-versionCode" value="11300100" /> 
    <preference name="android-minSdkVersion" value="13" />
    <preference name="android-maxSdkVersion" value="18" />
     -->

    <name>ПП</name>

    <description>
        Павшинская пойма
    </description>
    
    <!-- цвет фона по умолчанию -->
    <preference name="BackgroundColor" value="0xffffffff"/>
    <!-- заставка -->
    <preference name="SplashScreen" value="splash" />

    <author href="http://www.maxxam.ru" email="karachev.m@gmail.com">
        MaxxaM
    </author>
    
    <icon src="img/icon/pp12_512.png" />
    
    <content src="index.html" />
    
    <!-- чтобы можно было номер набирать для звонка -->
    <!--<access origin="tel:*" launch-external="yes" />-->    
    <!-- чтобы можно было письмо отправить -->
    <!--<access origin="mailto:*" launch-external="yes" />-->
    
    
    <gap:plugin name="org.apache.cordova.inappbrowser" version="0.5.2" />
</widget>